@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2 id="underage">Bodegas Ruiz se reserva el derecha de admisión a las compras de la web y de acuerdo a la ley prohibe la entrada al sistema a menores de edad</h2>
